body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.link {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 20px;
  margin-right: 50px;
}

.link-logo {
  display: flex;
  align-items: center;
  margin-left: 50px;
  height: max-content;
}

.link-style {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

a:hover {
  color: #00acdc;
  cursor: pointer;
}

.is-active {
  color: #00acdc;
  height: 100%;
  position: relative;
}

.is-active::after {
  content: '';
  display: block;
  background-color: #00acdc;
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 5px;
}
